@page
@model FlashCardLearnModel
@{
    ViewData["Title"] = "Flash Learn";
}

<div class="container mt-5 " style="margin-right:9%;margin-left:6%">
    <div class="progress">
        <div class="progress-bar progress-bar-learn progress-bar-striped progress-bar-animated bg-info"
             role="progressbar"
             aria-valuenow="@(Model.Total-Model.Remaining)"
             aria-valuemin="0"
             aria-valuemax="@Model.Total"
             style="width: @((Model.Total-Model.Remaining)/(float)Model.Total*100)%">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="font-style: italic; color:#939eb6; font-size: medium">Term</h5>
            <p class="card-text">@Model.CurrentSet.Key</p>
            <div class="row w-100">
                @foreach (var term in Model.CurrentSet.Value)
                {
                    <div class="@(term.IsCorrect ? "card-correct" : "card-incorrect") col-6 mt-4">
                        <button type="button" style="height: 100px; width:100%; font-weight: 600; font-size: small" class="btn btn-outline-secondary btn-block">
                            @term.GetTerm().Definition
                        </button>
                    </div>
                }
            </div>
            @if (Model.Remaining > 1)
            {
                <a href="/User/FlashLearn?action=skip&question=@Model.encodeQueryQuestion&setId=@Model.SetId" type="button" class="btn btn-info mt-3">Skip</a>
            }
        </div>
    </div>
</div>

<div class="result wrong-result d-none">
    <div class="d-flex align-content-center h-100 justify-content-around" style="flex-wrap: wrap">
        <div>
            <img src="~/flashcard/unchecked.png" style="margin-right: 12px;width: 100px; height:100px" />
            <span style="color: #ea2b2b; font-weight: 600">YOU WRONG!!</span>
        </div>
        @if (Model.Remaining > 1)
        {
            <a class="continue-button" href="/User/FlashCardLearn?action=continue&question=@Model.encodeQueryQuestion&setId=@Model.SetId">CONTINUE</a>
        }
        else
        {
            <a class="continue-button done-button" href="#">CONTINUE</a>
        }
    </div>
</div>

<div class="result correct-result d-none">
    <div class="d-flex align-content-center h-100 justify-content-around" style="flex-wrap: wrap">
        <div>
            <img src="~/flashcard/check.png" style="margin-right: 12px;width: 100px; height:100px" />
            <span style="font-weight: 600">YOU CORRECT!!</span>
        </div>
        @if (Model.Remaining > 1)
        {
            <a class="continue-button__green continue-button" href="/User/FlashCardLearn?action=continue&question=@Model.encodeQueryQuestion&setId=@Model.SetId">CONTINUE</a>
        }
        else
        {
            <a class="continue-button__green continue-button done-button" href="#">CONTINUE</a>
        }
    </div>
</div>

<!-- Modal success -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="exampleModalLongTitle">Congratulations !!!</h5>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img src="~/flashcard/congratulation.png" style="width: 100px" />
            </div>
            <div class="modal-body d-flex justify-content-center" style=" font-weight:bolder">
                <span>You have learned @Model.Total terms. Keep it up!</span>
            </div>
            <div class="modal-footer">
                <a href="/User/Flashcard" type="button" class="pl-3 d-flex btn-lg btn-info" style="font-size: medium; text-decoration:none; color:white; font-weight:bolder">
                    <img src="~/flashcard/flashcard.png" style="margin-right: 15px;width: 25px; height:25px" />
                    <span>Flashcards</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .card__selected {
        display: block !important;
    }

    .correct-result {
        background-color: #d7ffb8;
        color: #58a700;
    }

    .result {
        height: 120px;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .wrong-result {
        background-color: #ffdfe0;
    }

    .continue-button__green {
        background-color: #58cc02 !important;
        box-shadow: 0px 9px 0px #1a9104, 0px 9px 25px #00000073 !important;
    }

    .continue-button {
        height: fit-content;
        position: relative;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: rgba(219, 87, 5, 1);
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 0.9em;
        display: block;
        padding: 9px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        text-decoration: none;
        border-radius: 8px;
        -webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
        box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
        width: 160px;
        text-align: center;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
    }

        .continue-button:active {
            -webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
            -moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
            box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
            position: relative;
            top: 6px;
        }

        .continue-button:hover {
            text-decoration: none;
            color: #eddfdf;
        }
    /*For click correct choice*/
    .correct-choice {
        background-color: #b2f2bb;
    }

    .incorrect-choice {
        background-color: #ffc9c9
    }

    /*For click correct choice*/
    .normal-card {
        background-color: white;
    }

        .normal-card:hover {
            background-color: white !important;
            color: #6c757d !important;
        }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    const correctCards = document.querySelectorAll(".card-correct");
    correctCards.forEach((correctCard) => {
        correctCard.addEventListener('click', () => {
            //Get parent tag
            const parent = correctCard.closest(".card");
            //=======Add style for correctcard============
            let childCard = correctCard.querySelector(".btn");
            let correctResult = document.querySelector(".correct-result");
            correctResult.style.setProperty('display', 'block', 'important');
            childCard.classList.add("correct-choice");
            //Disable event of button of parent
            parent.style.pointerEvents = 'none';
        });
    });

    const incorrectCards = document.querySelectorAll(".card-incorrect");
    incorrectCards.forEach((incorrectCard) => {
        incorrectCard.addEventListener('click', () => {
            //Get parent tag
            const parent = incorrectCard.closest(".card");
            //=======Add style for incorrectcard============
            let childCardOfIncorrect = incorrectCard.querySelector(".btn");
            let incorrectResult = document.querySelector(".wrong-result");
            incorrectResult.style.setProperty('display', 'block', 'important');
            childCardOfIncorrect.classList.add("incorrect-choice");

            //=======Add style for correctcard============

            let correctCard = document.querySelector(".card-correct");
            let childCardOfCorrect = correctCard.querySelector(".btn");


            childCardOfCorrect.classList.add("correct-choice");
            //Disable event of button of parent
            parent.style.pointerEvents = 'none';
        });
    });
        $(document).on('click', '.done-button', function() {
        console.log("Button clicked!");
        $('#exampleModalCenter').modal('show');
        $('.progress-bar-learn').css('width', '100%');
    });

    

</script>